---
type Props = {
  title: string;
  description: string;
  imageUri: string;
  link?: string;
};

const { title, description, imageUri, link = "" }: Props = Astro.props;
---

<div class="card card-xs bg-base-200 md:image-none w-96 h-48 md:h-auto">
  <figure class="w-full h-28 md:h-28 overflow-hidden">
    <img
      class="w-full h-full object-cover"
      src={imageUri}
      alt={`curso-${title}`}
    />
  </figure>
  <div class="card-body md:h-auto">
    <h2 class="card-title">{title}</h2>
    <p>
      {description}
    </p>
    {
      link && (
        <div class="card-actions justify-end">
          <a class="btn btn-active" href={link}>
            Ver Curso
          </a>
        </div>
      )
    }
  </div>
</div>
