---
import { Icons } from "../components/iconify/icons";
import Iconify from "../components/iconify/iconify.astro";
import Logo from "../assets/logo.svg";
---

<div
  class="h-svh md:h-screen w-full px-5 md:px-10 flex flex-col items-center justify-center"
>
  <div class="flex flex-col gap-9 w-full max-w-6xl">
    <h2 class="text-4xl font-bold">Qué es Ctrl+Dev ?</h2>
    <div class="flex flex-col lg:flex-row gap-10">
      <div class="flex-1 flex-grow bg-white rounded-lg card min-h-[200px]">
        <Logo class="w-full h-full p-5" />
      </div>
      <div class="flex-1 flex-grow flex flex-col gap-5">
        <p class="text-justify text-accent/90">
          Ctrl+ es un grupo de estudio de desarrollo web creado para personas
          que quieren aprender, practicar y mejorar sus habilidades en
          programación de forma colaborativa. Aquí no hay profesores ni alumnos:
          todos compartimos conocimientos, resolvemos dudas juntos y avanzamos
          como comunidad.
        </p>
        <p class="text-justify text-accent/90">
          Nuestro objetivo es que cada miembro pueda crecer en <span
            class="bg-gradient-to-br from-secondary to-primary bg-clip-text text-transparent font-bold"
            >HTML, CSS, JavaScript, frameworks modernos y buenas prácticas <Iconify
              icon={Icons.ASTRO}
              color="primary"
              class="inline p-0 m-0"
              size={15}
            /></span
          >, mientras participa en proyectos reales y se conecta con otros
          apasionados de la programación.
        </p>
        <div class="flex flex-col gap-3">
          <p class="font-bold text-primary">Nuestros enfoques:</p>
          <ul
            class="[&>li]:flex [&>li]:items-center [&>li]:gap-2 [&>li]:w-full grid md:grid-cols-2 gap-2 w-full"
          >
            <li>
              <Iconify icon={Icons.CHECK} color="secondary" size={15} />
              Desarrollo web basico
            </li>
            <li>
              <Iconify icon={Icons.CHECK} color="secondary" size={15} />
              Buenas prácticas de código
            </li>
            <li>
              <Iconify icon={Icons.CHECK} color="secondary" size={15} />
              Aprendizaje continuo
            </li>
            <li>
              <Iconify icon={Icons.CHECK} color="secondary" size={15} />
              Colaboración entre estudiantes
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
