---
import { coursesAvailable } from "src/constants";
import Footer from "./footer.astro";
import Layout from "./layout.astro";
import { getInitialsName } from "@utils/utils";
import Iconify from "@components/iconify/iconify.astro";
import { Icon } from "astro-icon/components";
import { Icons } from "@components/iconify/icons";

type Index = {
  name: string;
  link: string;
};

type Props = {
  title: string;
  date: string;
  author: string;
  content: Index[];
};

const base = Astro.site ? `${Astro.site.pathname}cursos` : "";
const currentPath = Astro.url.pathname.replace(`${base}/`, "");

const { title, date, author, content }: Props = Astro.props;
const authorAvatar = getInitialsName(author);
---

<Layout>
  <main class="h-screen overflow-y-scroll">
    <section
      class="flex-1 bg-[url(/assets/banner.svg)] bg-no-repeat bg-top
             bg-size-[auto_500px] md:bg-size-[auto_700px] lg:bg-contain pt-10 p-2"
    >
      <div
        class="w-full max-w-6xl mx-auto px-6 pb-4 mt-14 mb-5 bg-base-200 rounded-xl flex flex-col gap-1"
      >
        <p
          class="bg-gradient-to-br from-blue-500 to-primary bg-clip-text text-transparent text-4xl text-center font-bold py-8 uppercase"
        >
          {title}
        </p>
        <div class="w-full flex justify-between text-sm text-accent/80">
          <div class="flex items-center gap-2">
            <div class="avatar avatar-placeholder">
              <div
                class="ring-primary ring-2 bg-neutral text-neutral-content w-8 rounded-full"
              >
                <span class="text-xs">{authorAvatar}</span>
              </div>
            </div>
            <p class="font-semibold">{author}</p>
          </div>
          <div class="flex items-center gap-2">
            <p>{date}</p>
            <button class="btn btn-circle btn-outline btn-primary btn-md" onclick="my_modal_1.showModal()">
            <Iconify icon={Icons.SHARE} size={19} />
            </button>
          </div>
        </div>
      </div>
      <div
        class="w-full max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-5"
      >
        <div
          class="lg:col-span-3 prose prose-lg prose-slate max-w-none md-content"
        >
          <slot />
        </div>
        <aside
          class="bg-base-200 p-10 pb-16 rounded-xl h-auto self-start space-y-3 hidden lg:block"
        >
          {
            content && (
                <div class="flex flex-row items-center gap-2 w-full text-lg rounded p-1.5 px-3 bg-primary/20 text-primary">
                  <Iconify icon={Icons.INDEX} size={22} />
                  <h4 class="text-lg font-semibold">Contenido</h4>
                </div>
                <ul class="space-y-2 text-slate-600 [&>li>a]:link [&>li>a]:link-hover [&>li>a]:link-accent px-4 mb-16">
                  {content.map((item) => (
                    <li class="before:content-['*'] before:text-primary">
                      <a href={`#${item.link}`}>{item.name}</a>
                    </li>
                  ))}
                </ul>
            )
          }
          <div class="flex flex-row items-center gap-2 w-full text-lg rounded p-1.5 px-3 bg-primary/20 text-primary">
            <Iconify icon={Icons.COURSES} size={22} />
            <h4 class="text-lg font-semibold">Otros cursos</h4>
          </div>
          <ul
            class="space-y-2 text-slate-600 [&>li>a]:link [&>li>a]:link-hover [&>li>a]:link-accent px-4"
          >
            {
              coursesAvailable.map((item) => (
                <li class="before:content-['*'] before:text-primary">
                  <a href={`${base}/${item.link}`}>{item.title}</a>
                </li>
              ))
            }
          </ul>
        </aside>
      </div>
    </section>

    <Footer />
  </main>

  <dialog id="my_modal_1" class="modal">
    <div class="modal-box bg-base-200">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          <Iconify icon={Icons.CLOSE} size={22} />
        </button>
      </form>
      <h3 class="text-lg font-bold mb-4">Compartir</h3>
      <div class="flex flex-col gap-2">
        <div class="w-full flex flex-row gap-2">
          <label class="input input-md w-full">
            <input type="text" class="grow" placeholder="enlace" value={currentPath} />
          </label>
          <button class="btn btn-primary">Copiar</button>
        </div>
        <div class="flex flex-row gap-2">
          <a class="border-2 border-white/10 flex flex-col items-center justify-center gap-1 flex-1 p-2 rounded-lg cursor-pointer hover:bg-white/10 transition-colors">
            <Iconify class="text-[#0866FF]" icon={Icons.FACEBOOK} size={20} />
            <span class="text-sm">Facebook</span>
          </a>
          <a class="border-2 border-white/10 flex flex-col items-center justify-center gap-1 flex-1 p-2 rounded-lg cursor-pointer hover:bg-white/10 transition-colors">
            <Iconify class="text-[#26A5E4]" icon={Icons.TELEGRAM} size={20} />
            <span class="text-sm">Telegram</span>
          </a>
          <a class="border-2 border-white/10 flex flex-col items-center justify-center gap-1 flex-1 p-2 rounded-lg cursor-pointer hover:bg-white/10 transition-colors">
            <Iconify class="text-[#25D366]" icon={Icons.WHATSAPP} size={20} />
            <span class="text-sm">Whatsapp</span>
          </a>
          <a class="border-2 border-white/10 flex flex-col items-center justify-center gap-1 flex-1 p-2 rounded-lg cursor-pointer hover:bg-white/10 transition-colors">
            <Iconify icon={Icons.TIKTOK} size={20} />
            <span class="text-sm">TikTok</span>
          </a>
        </div>
      </div>
    </div>
  </dialog>
</Layout>
