---
import Logo from "../assets/logo-white.svg";
import Iconify from "../components/iconify/iconify.astro";
import { Icons } from "../components/iconify/icons";
---

<footer
  class="footer sm:footer-horizontal bg-primary/30 text-neutral-content p-10 mt-20 relative"
>
  <aside>
    <Logo class="h-10 w-auto" />
    <p>
      Grupo de Estudio
      <br />
      Este sitio fue desarrollado por el Chimpoko Team
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a
        href="https://www.facebook.com/profile.php?id=61558464904329&mibextid=ZbWKwL"
        target="_blank"
      >
        <Iconify icon={Icons.FACEBOOK} />
      </a>
      <a href="https://www.instagram.com/ctrl.dev_" target="_blank">
        <Iconify icon={Icons.INSTAGRAM} />
      </a>
      <a href="https://t.me/+Q7bDD2HZXnUyZTRh" target="_blank">
        <Iconify icon={Icons.TELEGRAM} />
      </a>
      <a href="https://www.tiktok.com/@ctrl.dev_" target="_blank">
        <Iconify icon={Icons.TIKTOK} />
      </a>
    </div>
  </nav>
  <a
    class="absolute bottom-0 right-0 w-28 h-28 bg-black/50 hover:bg-black/20 transition-colors flex items-end justify-end overflow-hidden cursor-pointer"
    style="clip-path: polygon(100% 0, 0 100%, 100% 100%);"
    href="https://github.com/Troy8203/CtrlDev-LadingPage"
    target="_blank"
  >
    <Iconify class="text-white -rotate-45" icon={Icons.GITHUB} size={55} />
  </a>
</footer>
