---
import Logo from "../assets/logo-white.svg";
import Iconify from "../components/iconify/iconify.astro";
import { Icons } from "../components/iconify/icons";

const base = Astro.site ? Astro.site : "";
---

<div
  class="navbar bg-transparent backdrop-blur-sm shadow-2xl px-2 lg:px-28 z-10 absolute top-0"
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <Iconify icon={Icons.MENU} />
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content bg-base-200 rounded-box z-20 mt-5 ml-3 w-52 p-2 shadow-2xl"
      >
        <li><a href=`${base}#inicio`>Inicio</a></li>
        <li><a href=`${base}#nosotros`>Nosotros</a></li>
        <li><a href=`${base}#cursos`>Cursos</a></li>
        <li><a href=`${base}#unete`>Únete</a></li>
      </ul>
    </div>
    <Logo class="h-10 w-auto hidden lg:block" />
  </div>
  <div class="navbar-end flex">
    <ul
      class="menu menu-horizontal px-1 [&>li>a]:hover:bg-base-300 hidden lg:flex"
    >
      <li><a href=`${base}#inicio`>Inicio</a></li>
      <li><a href=`${base}#nosotros`>Nosotros</a></li>
      <li><a href=`${base}#cursos`>Cursos</a></li>
      <li><a href=`${base}#unete`>Únete</a></li>
    </ul>
    <Logo class="h-10 w-auto mx-2 block lg:hidden" />
  </div>
</div>
